#tabla{
    background-color: #23232c;
    width: 220px;
    height: 100%;
    border: none;
    position: fixed;
    left: 0;
}
#boton-buscar
{
    background-color: #d1d1d7;
    border: 0;
    border-radius: 3px;
    color: #42424d;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 1.33333333;
    padding: 8px 40px 8px 12px;
    transition-duration: .15s;
    transition-property: background-color,color;
   margin: auto;
   width: auto;
   margin: 15px 0px 10px 10px;
}
@media screen and (max-heigth:800px){
#buscar{
    font-size: 11px;
    height: 28px;
    padding-bottom: 6px;
    padding-top: 6px;
}
}

#div-agr-sal{
    margin-top: 150px;
}
.espacio{
    margin-bottom: 20px;
    width: 249px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.espacio-p{
    margin-bottom: 5px;
}
#btn-buscar{
    border: none;
    border-radius: 150px;
    margin-left: 168px;
    position: absolute;
}

/************************************************************************************/
