body{
    overflow-x: hidden !important;
    font-family: Roboto,sans-serif;
}


/* elementos dentro de nav */
/* estilos css en la cabeza de letra */
nav{
    height: 80px;
    border-bottom: outset;
    border-bottom-color: rgba(0,0,0,0.1); 
}
@media screen and (max-width:500px){
    #txt-oferta{
        display: none;
    }
}
#boton-nav-1{
    margin-right: 20px;
    border-radius: 100px;
    border-width: 2px;
    border-color: rgb(7, 125, 180);
    color:rgb(7, 125, 180);
    width: 140px;

}
#boton-nav-1:hover{
    background-color: transparent;
    border-color:  #03608A;
    color:  #03608A;
}
#boton-nav-2{
    border-radius: 100px;
    background-color: rgb(7, 125, 180);
    border-color: rgb(7, 125, 180);
    width: 140px;
}
#boton-nav-2:hover{
    border-color:  #03608A;
    background-color: #03608A;
    color: white;  
}
#bloque-ofertas{
    width: 378px;
    text-align: right ;
}
#txt-oferta{
    height: 80px;
    border-color: transparent;
    background-color: transparent;
}
#txt-oferta:hover{
    border-bottom-color: rgb(7, 125, 180);
    border-width: 3px
}

/* fin de elementos dentro de nav */




/* elementro dentro de la segunda parte del body */
#div-conectarse{
    background-image:url(../img/registro/conectarse.png);
    background-repeat: no-repeat ;
    background-color: #f0f0f0;
    height: 1000px;
    background-position: right top;
    overflow: hidden

}
#div{
    background-image:url(../img/registro/fondo-deezer-registro.png);
    background-repeat: no-repeat ;
    background-color: #f0f0f0;
    height: 1000px;
    background-position: right top;
    overflow: hidden

}
@media screen and (max-width: 1000px ){
 #div{
     background-image: none;
 }
}

#div1-1{
    height: 1000px;
    overflow: hidden ;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;;

}

#div1-1-1{
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    padding-left: 80px;
}

#div1-1-1-1{
    margin:  0px;
    padding-top: 80px;
    text-align: center;
    width:  380px;
}
#btm-f{
    background-color:#4A6EA9;
    width: 130px;
    margin-right: 50px;
    font-weight: 700;
}
#btm-f:hover{
background-color: white;
color: #2553B4;
}
#btm-g{
    width: 130px;
    font-weight: 700; 
    color: gray;
}
#btm-g:hover{
  background-color: rgb(27, 161, 214);
  color: white;
}
a{
    color: black;
    font-weight: 600;
}

a:hover{
    color:black;
    font-weight: 600;
    text-decoration-line: none
}
#comentario-ganas-registrarse{
    width: 380px;
    font-weight: 700;
}

#pais{
    width: 500px;
}

.diseno{
    background-clip: padding-box;
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0);
    box-sizing: border-box;
    display: block;
    font-size: 17px;
    line-height: 1.41;
    width: 375px;;
    height: 59px;
}

#select-edad{
    width: 150px;
    height: 59px;
    border-color: transparent;
}
#select-genero{
    width: 150px;
    border-color: transparent;
    height: 59px;margin-right: 70px;
}
#txt-btm-rosado{
    background-color:#FE447D;
    color: white;
    height: 30px;
}

.boton-rosado{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background-color:#FE447D;
    height: 50px;
    color: white;
    font-family: Roboto,sans-serif; 
    font-weight: 700;
    border-width: 0px;
    border-color: rgb(255,48,110);
    border-radius: 100px;
    padding-top: 12px;
    width: 250px;
    position: relative;
    z-index: 1;
    }
.boton-rosado-color-cambio:hover{
    background-color: rgb(165, 1, 50);
}    
#boton-rosado-1:hover{
    width: 300px;
}


.btm{
    border-radius: 20px;
    border-width: 1.5px;
}
.campovacio{
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: rgb(205, 10, 10);
    display: none;
}

/* fin elementos elementro dentro de la segunda parte del body */

/* estilo css al pie de letra */
footer{
    background-color:#32323D;
    overflow: hidden;
    
}
#deezer-logo-footer{
    padding:150px 50px 0px 100px;
    height: 390px;
  
}
#table-footer{
    heig-t: 390px;
    text-align: left;
    Font-name: Roboto; sans-serif;
    Font-size: 15px;
    Font-weight: 700;
    Line-height: 28px;
    Font-color: rgb(204, 204, 204);
}
table tr th{
    color: #2692b7;
    Font-size: 15px;
    Font-weight: 700;
    width: 100px;

}
table tr td{
    color:#C3C3C4;
    Font-size: 15px;
    Font-weight: 700;
}

/* css conectarse email*/
#cvc{
    display: none;
    height: 28px;
    background-color: rgb(254, 68, 125);
    padding: 6px;
    margin-top: 14px;
    color: white;
    font-size: 11px;
    font-weight: 600;
}

/*css para landing page*/

/* @media de landing page van aqui */


/* comentarios o ayudas */
/* <!--display: inline hace que el div no abarque todo la linea  --> */
/* overflow:hiddden El contenido es recortado y no se muestran barras de posición. */
/* Hecho Por Kenny Molina Murillo y Mario Antonio Rodriguez Varela*/

#div-emergencia{
    position: absolute;
    background-color: #3be619;
    color: black;
    text-align: center;
    margin: 100px 0px 0px 481px;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}