/* estilos de el html playlist*/
/* presentacion*/
.repro{
    width: 85px;
}
#p-d-t{
    width: 60%;
    height: 250px;
    padding: 20px
}
#h1-p{
    font-size: 32px;
    font-weight: normal;
}
#h2-1-p{
    font-size: larger;
    font-weight: 400;
}
#h2-2-p{
    font-size: larger;
    font-weight: 300;
    color: grey;
}